.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  display: inline-block;
}
.footer {
  background-color: #2e2f42;
  color: #f4f4fd;
  padding: 100px 0;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
  margin-top: 16px;
}
.logo-light {
  color: #f4f4fd;
}
.footer .container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.footer-socials {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
}
.footer-socials:first-child {
  flex: 0 0 auto;
  margin-right: auto;
}
.footer-socials:last-child {
  flex: 0 0 auto;
}

.media-list {
  display: flex;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-bottom: 32px;
}
.social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
/* .media-item {
  border-radius: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
  background: #4d5ae5;
} */
.footer-info {
  margin-right: 120px;
}

.media-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.media-link:hover,
.media-link:focus {
  background-color: #31d0aa;
}
.media-item {
  width: 24px;
  height: 24px;
  fill: #f4f4fd;
  flex-shrink: 0;
}
.footer-subscribe-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  max-width: 453px;
  max-height: 80px;
  margin-left: auto;
}
.subscribe-text {
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.subscribe-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.subscribe-form input {
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 8px 16px;
  width: 264px;
  height: 40px;
  font-weight: 400;
  font-size: 12px;

  /* line-height: 14px; */
  background-color: transparent;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-input:focus {
  border-color: #31d0aa;
}
.subscribe-form input::placeholder {
  color: #ffffff;
}
.send-btn {
  fill: #ffffff;
  border-radius: 4px;
  padding: 8px 24px;
  height: 40px;
  max-width: 165px;
  background-color: #4d5ae5;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.send-btn:hover,
.send-btn:focus {
  background-color: #31d0aa;
}

.subscribe-title {
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}
